.status-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: var(--primary-color);
  }
.status-dot-empty{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: transparent;
  }