<div class="flex align-items-center justify-content-center min-h-screen">
  <div class="surface-card p-4 shadow-2 border-round md:w-4">
    <div class="flex flex-column row-gap-3">
      <pre>
                {{ passwordForm.value | json }}
            </pre
      >
      <p class="text-4xl font-bold text-center mb-5">Change Password</p>
      <form
        [formGroup]="passwordForm"
        (ngSubmit)="confirm()"
        class="flex flex-column gap-2"
      >
        <div class="field">
          <label for="oldPassword" class="block">Old Password</label>
          <input
            title="Old Password"
            pInputText
            id="oldPassword"
            aria-describedby="password-help"
            formControlName="oldPassword"
            type="password"
            class="p-inputtext w-full"
          />
        </div>
        <div class="field">
          <label for="newPassword" class="block">New Password</label>
          <input
            title="New Password"
            pInputText
            id="newPassword"
            aria-describedby="password-help"
            formControlName="newPassword"
            type="password"
            class="p-inputtext w-full"
          />
        </div>
        <div class="field">
          <label for="confirmPassword" class="block">Confirm Password</label>
          <input
            title="Confirm Password"
            pInputText
            id="confirmPassword"
            aria-describedby="password-help"
            formControlName="confirmPassword"
            type="password"
            class="p-inputtext w-full"
          />
        </div>
        <div class="text-center">
          <button
            pButton
            label="Submit"
            title="Submit"
            [disabled]="passwordForm.invalid"
            class="p-button w-6 my-4"
            type="submit"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast />
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="inline-flex justify-content-center align-items-center h-15rem w-15rem"
      >
        <img
          src="../../../assets/images/confirmation/Yes or no-amico.svg"
          alt=""
        />
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Yes"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="No"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
