<pre>
  {{ documentReqDtoFg.value | json }}
  <hr>
  {{updateCalculatedDocumentReqDtoFg.value | json}}
</pre>

<div class="flex justify-content-center">
  <div class="md:w-8 lg:w-6">
    <h1 class="text-center">Upload Required Payroll Documents</h1>
    <p-stepper orientation="vertical" [linear]="true">
      <p-stepperPanel
        *ngFor="let data of stepperDocuments.documentsRes; let i = index"
        [header]="data.activity + ' - ' + data.documentDeadline"
      >
        <p-tag severity="success" value="Success" />

        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-prevCallback="prevCallback"
          let-index="index"
        >
          <div class="border-2 surface-ground surface-border border-round p-4">
            <div class="grid">
              <div class="col-6 flex gap-4 flex-column md:flex-row">
                <p-fileUpload
                  mode="basic"
                  chooseLabel="Choose"
                  chooseIcon="pi pi-upload"
                  name="demo[]"
                  accept=".doc, .docx, .xls, .xlsx, .pdf"
                  maxFileSize="3000000"
                  (onSelect)="fileUpload($event, data.documentId, i, false)"
                  [auto]="true"
                  [disabled]="
                    (isClient && data.isSignedByPs) ||
                    (isPS && !data.isSignedByClient) ||
                    data.isSignedByPs
                  "
                /><p-button
                  label="Submit"
                  icon="pi pi-check"
                  (onClick)="submitDocument()"
                  [disabled]="!documentReqDtoFg.valid"
                />
              </div>

              <div class="col-6 flex justify-content-end">
                <p-tag
                  *ngIf="!data.isSignedByPs && !data.isSignedByClient"
                  severity="contrast"
                  icon="pi pi-times"
                  value="Pending Document"
                />
                <p-tag
                  *ngIf="data.isSignedByClient && !data.isSignedByPs"
                  severity="warning"
                  icon="pi pi-hourglass"
                  value="Pending Approval"
                />
                <p-tag
                  *ngIf="data.isSignedByClient && data.isSignedByPs"
                  severity="success"
                  icon="pi pi-check"
                  value="Approved"
                />
              </div>

              <div class="col-12 md:col-6">
                <p-button
                  *ngIf="data.isSignedByClient"
                  label="Preview Document"
                  icon="pi pi-eye"
                />
              </div>
              <div class="col-12 md:col-6 flex md:justify-content-end">
                <p-button
                  *ngIf="isPS"
                  label="Ping Client"
                  icon="pi pi-bell"
                  severity="danger"
                  (onClick)="pingClient()"
                  [disabled]="data.isSignedByClient"
                />
              </div>
              <div class="col-12" *ngIf="data.documentDirectory">
                <p-button
                  label="Download"
                  icon="pi pi-download"
                  severity="success"
                  [disabled]="!data.documentDirectory"
                  (onClick)="downloadDocument(data.documentId)"
                />
              </div>
            </div>
          </div>
          <div class="flex py-4 gap-2">
            <p-button
              *ngIf="i != 0"
              label="Back"
              severity="secondary"
              (onClick)="prevCallback.emit()"
            />
            <p-button
              label="Next"
              [disabled]="!data.isSignedByPs"
              (onClick)="nextCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="Download Payroll Documents">
        <p-tag severity="success" value="Success" />

        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-prevCallback="prevCallback"
          let-index="index"
        >
          <form
            class="flex flex-column gap-4 order-2 surface-ground surface-border border-round p-4"
            [formGroup]="updateCalculatedDocumentReqDtoFg"
          >
            <div
              *ngFor="
                let data of stepperDocuments.calculatedDataResDto;
                let i = index
              "
              formArrayName="documents"
            >
              <div [formGroupName]="i">
                <p class="font-bold text-lg">{{ data.activity }}</p>
                <div class="flex gap-4">
                  <p-fileUpload
                    *ngIf="isPS"
                    mode="basic"
                    chooseLabel="Choose"
                    chooseIcon="pi pi-upload"
                    name="demo[]"
                    accept=".doc, .docx, .xls, .xlsx, .pdf"
                    maxFileSize="3000000"
                    (onSelect)="fileUpload($event, data.documentId, i, true)"
                  />

                  <p-button
                    [disabled]="!data.documentDirectory"
                    (onClick)="downloadFinalDocument(data.documentId)"
                    label="Download"
                    icon="pi pi-download"
                    severity="success"
                  />
                </div>
              </div>
            </div>
            <p-button
              label="Submit"
              *ngIf="isPS"
              icon="pi pi-check"
              (onClick)="submitFinalDocument()"
              [disabled]="!updateCalculatedDocumentReqDtoFg.valid"
            />
            <div>
              <p class="font-bold text-lg">Payroll Documents Report</p>
              <p-button
                label="Download"
                icon="pi pi-download"
                severity="success"
              />
            </div>
          </form>
          <div class="flex py-4 gap-2">
            <p-button
              label="Back"
              severity="secondary"
              (onClick)="prevCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</div>
