<pre>
  {{ userForm.value | json }}
</pre>

<div class="md:col-10 md:col-offset-1 my-5 align-items-center">
  <div class="p-4 shadow-5 border-round-lg">
    <div class="grid">
      <div class="md:col-6 hidden md:block">
        <img src="../../../../assets/images/user/create-user.svg" alt="asset" />
      </div>
      <div class="md:col-6 col-12">
        <p class="text-xl font-semibold text-center">Create User</p>
        <form class="grid" [formGroup]="userForm">
          <div class="md:col-6 col-12">
            <label for="username"
              >Username <span class="text-red-500">*</span></label
            >
            <input
              pInputText
              type="text"
              id="username"
              formControlName="username"
              class="p-inputtext w-full"
            />
          </div>
          <div class="md:col-6 col-12">
            <label for="phoneNo"
              >Phone Number <span class="text-red-500">*</span></label
            >
            <input
              pInputText
              type="tel"
              id="phoneNo"
              formControlName="phoneNo"
              class="p-inputtext w-full"
            />
          </div>
          <div class="col-12">
            <label for="email">Email <span class="text-red-500">*</span></label>
            <input
              pInputText
              type="text"
              id="email"
              formControlName="email"
              class="p-inputtext w-full"
            />
          </div>
          <div class="md:col-6 col-12">
            <label for="phoneNo">Role <span class="text-red-500">*</span></label
            ><br />
            <p-dropdown
              formControlName="roleId"
              [options]="roles"
              formControlName="roleId"
              optionLabel="roleName"
              optionValue="id"
              placeholder="Select Role"
              class="w-full"
              styleClass="w-full"
              (onChange)="changeRoleOption()"
            />
          </div>
          <div class="md:col-6 col-12">
            <label for="profilePicture">Profile Picture </label>
            <div class="card flex justify-content-center">
              <p-fileUpload
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                [auto]="true"
                (onSelect)="onProfileSelect($event, false)"
              />
            </div>
          </div>
          <div class="grid mx-1" *ngIf="isClient">
            <div class="col-12">
              <label for="profilePicture"
                >Company Name <span class="text-red-500">*</span></label
              >
              <input
                pInputText
                type="text"
                id="profilePicture"
                formControlName="companyName"
                class="w-full"
              />
            </div>
            <div class="md:col-6 col-12">
              <label for="icondisplay"
                >Payroll Date <span class="text-red-500">*</span></label
              >
              <p-calendar
                dateFormat="dd"
                formControlName="payrollDate"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
              />
            </div>
            <div class="md:col-6 col-12">
              <label for="profilePicture">Company Logo </label>
              <p-fileUpload
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                [auto]="true"
                (onSelect)="onProfileSelect($event, true)"
              />
            </div>
          </div>
          <div class="md:col-6 col-12">
            <p-button
              severity="secondary"
              label="Back"
              class="w-full"
              styleClass="w-full"
            />
          </div>
          <div class="md:col-6 col-12">
            <p-button
              label="Create"
              class="w-full"
              styleClass="w-full"
              [disabled]="userForm.invalid"
              (click)="confirm()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p-toast />
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="inline-flex justify-content-center align-items-center h-15rem w-15rem"
      >
        <img
          src="../../../assets/images/confirmation/Yes or no-amico.svg"
          alt=""
        />
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Yes"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="No"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
