<div class="flex align-items-center justify-content-center min-h-screen">
  <div class="surface-card p-4 shadow-2 border-round w-full md:w-8 ">
    <pre>
      {{ scheduleForm.getRawValue() | json }}
    </pre>
    <div class="grid">
      <div class="md:col-6 col-8">
        <div class="grid">
          <button pButton [ngStyle]="{'background-color' : 'transparent', 'color' : 'black', 'border' : 'none'}"
            (click)="onBack()" icon="pi pi-chevron-left"></button>
          <h3>Create Schedule</h3>
        </div>
      </div>
      <p class="align-self-end justify-content-end text-right md:col-6 col-4">{{ formatDate(payrollDate) }}</p>
    </div>
    <div class=" card" [formGroup]="scheduleForm">
      <div *ngFor="let activity of documentsReqDto.controls; let i = index" formArrayName="documentsReqDto">
        <div class="grid" [formGroupName]="i">
          <div class="md:col-6 col-12">
            <label class="col-12" [ngStyle]="{'padding-left' : '2px'}" for="activity{{i}}">Activity</label>
            <input class="col-12 " formControlName="activity" placeholder="{{activity.value.activity}}" pInputText />
          </div>
          <div class=" md:col-4 col-10 align-self-end ">
            <p-calendar [iconDisplay]="'input'" dataType="string" [showIcon]=" true" inputId="icondisplay"
              class="w-full" styleClass="w-full" [maxDate]="maxDate" (onSelect)="onDateSelect($event, i)"
              dateFormat="dd/mm/yy" [inputStyle]="{'padding-top' : '8px', 'padding-bottom' : '8px'}" />
          </div>
          <div class="md:col-2 col-2 align-self-end	text-right">
            <button pButton icon="pi pi-times" severity="danger" (click)="removeActivity(i)" label=""></button>
          </div>
        </div>
      </div>
      <div class="grid mt-5 md:justify-content-end">
        <div class="md:col-2 col-6">
          <button pButton class="w-full" (click)="addActivity()" icon="pi pi-plus" label="Add"></button>
        </div>
        <div class="md:col-2 col-6">
          <button pButton class="w-full" (click)="onSubmit()"
            [disabled]="scheduleForm.invalid || documentsReqDto.length < 3" label="Submit"></button>
        </div>
      </div>
    </div>
  </div>
</div>