<div class="flex align-items-center justify-content-center min-h-screen">
  <div class="surface-card p-4 shadow-2 border-round w-full md:w-8">
    <pre>
      {{ scheduleForm.getRawValue() | json }}
    </pre>
    <div class="grid">
      <div class="md:col-6 col-8">
        <div class="grid">
          <button
            pButton
            [ngStyle]="{
              'background-color': 'transparent',
              color: 'black',
              border: 'none'
            }"
            (click)="onBack()"
            icon="pi pi-chevron-left"
          ></button>
          <h3>Create Schedule</h3>
        </div>
      </div>
      <p class="align-self-end justify-content-end text-right md:col-6 col-4">
        {{ payrollDate }}
      </p>
    </div>
    <div class="card" [formGroup]="scheduleForm">
      <div
        *ngFor="let activity of documentsReqDto.controls; let i = index"
        formArrayName="documentsReqDto"
      >
        <div class="grid" [formGroupName]="i">
          <div class="md:col-6 col-12 pb-0">
            <label
              class="col-12"
              [ngStyle]="{ 'padding-left': '2px' }"
              for="activity{{ i }}"
              >Activity</label
            >
            <input
              class="col-12"
              formControlName="activity"
              id="activity{{ i }}"
              pInputText
            />
          </div>
          <div class="md:col-4 col-10 align-self-end">
            <label
              class="col-12"
              [ngStyle]="{ 'padding-left': '2px' }"
              for="documentDeadline{{ i }}"
              >Document Deadline</label
            >
            <p-calendar
              [iconDisplay]="'input'"
              dataType="string"
              [showIcon]="true"
              inputId="icondisplay"
              class="w-full"
              styleClass="w-full"
              [maxDate]="maxDate"
              [minDate]="minDate"
              (onSelect)="onDateSelect($event, i)"
              dateFormat="dd/mm/yy"
              [inputStyle]="{ 'padding-top': '8px', 'padding-bottom': '8px' }"
              id="documentDeadline{{ i }}"
            />
          </div>
          <div class="md:col-2 col-2 align-self-end text-right">
            <button
              pButton
              icon="pi pi-times"
              severity="danger"
              (click)="removeActivity(i)"
              label=""
            ></button>
          </div>
        </div>
      </div>
      <div class="grid mt-5 md:justify-content-end">
        <div class="md:col-2 col-6">
          <button
            pButton
            class="w-full"
            (click)="addActivity()"
            icon="pi pi-plus"
            label="Add"
          ></button>
        </div>
        <div class="md:col-2 col-6">
          <button
            pButton
            class="w-full"
            (click)="confirm()"
            icon="pi pi-check"
            [disabled]="scheduleForm.invalid || documentsReqDto.length < 3"
            label="Submit"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast />
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="inline-flex justify-content-center align-items-center h-15rem w-15rem"
      >
        <img
          src="../../../assets/images/confirmation/Yes or no-amico.svg"
          alt=""
        />
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Yes"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="No"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
