<div class="flex align-items-center justify-content-center min-h-screen">
  <div class="col sm:col-10 md:col-8 mx-auto p-5 border-round shadow-5">
    <div class="grid align-items-center">
      <img class="md:col-6 col-12 " src="../../../assets/images/forbidden/403-Error-Forbidden.svg" alt="403-error">
      <div class="md:col-6 col-12 text-center">
        <h1 class="text-orange-500">403 - Forbidden</h1>
        <p class="text-base font-normal">You don't have permission to access this resource.</p>
      </div>
    </div>
  </div>
</div>