<div class="flex align-items-center my-5 mx-5">
  <div class="surface-card p-4 shadow-2 border-round w-full flex flex-column row-gap-5">
    <div class="flex flex-row justify-content-between align-content-center">
      <h3 *ngIf="!isLoading" class="flex align-items-center">{{ psUserName }}'s Clients</h3>
      <p-skeleton *ngIf="isLoading" width="7rem" class="flex align-items-center"></p-skeleton>
      <div class="flex sm:flex-row flex-column gap-2 align-items-center">
        <p-button label="Cancel" severity="secondary" (onClick)="onCancel()" />
        <p-button label="Submit" [disabled]="isClientsEmpty()" (onClick)="confirm()" />
      </div>
    </div>
    <div>
      <p-skeleton *ngIf="isLoading" height="10rem" class="flex w-full p-2" />
      <p-scrollPanel *ngIf="!isLoading" styleClass="flex border-round surface-300 p-2">
        <div *ngIf="assignedClient.length > 0; else noDataAssigned">
          <p-chip *ngFor="let assigned of assignedClient; let i = index" label="{{ assigned.fullName }}"
            [image]="generateImage(assigned.profilePictureId)" alt="preAssigned{{ i }}"
            [removable]="isClientRemovable(i)" (onRemove)="removeFromForm(i, assigned)" class="m-1" />
        </div>
      </p-scrollPanel>
    </div>

    <div class="card">
      <p-table [value]="unassignedClientSkeleton" dataKey="id" *ngIf="isLoading">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Avatar</th>
            <th [ngStyle]="{ 'min-width': '16rem' }">Name</th>
            <th [ngStyle]="{ 'min-width': '16rem' }">Email</th>
            <th [ngStyle]="{ 'min-width': '16rem' }">Phone</th>
            <th class="text-center">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td><p-skeleton width="2.5rem" height="2.5rem" shape="circle" class="justify-content-center flex" /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
          </tr>
        </ng-template>
      </p-table>

      <div *ngIf="unassignedClient.length > 0; else noDataUnassigned">
        <p-table [value]="unassignedClient" dataKey="id" *ngIf="!isLoading">
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">Avatar</th>
              <th [ngStyle]="{ 'min-width': '16rem' }">Name</th>
              <th [ngStyle]="{ 'min-width': '16rem' }">Email</th>
              <th [ngStyle]="{ 'min-width': '16rem' }">Phone</th>
              <th class="text-center">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-uclient let-ri="rowIndex">
            <tr *ngIf="isClientSelected(uclient.id)">
              <td>
                <p-avatar [image]="generateImage(uclient.profilePictureId)" shape="circle"
                  class="flex justify-content-center" />
              </td>
              <td>{{ uclient.fullName }}</td>
              <td>{{ uclient.email }}</td>
              <td>{{ uclient.phoneNumber }}</td>
              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <p-button icon="pi pi-plus" label="Add" type="button" (onClick)="addToForm(uclient)" />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <ng-template #noDataUnassigned>
      <div class="flex flex-column flex justify-content-center align-items-center h-full mx-3 py-5" *ngIf="!isLoading">
        <p-image src="../../../assets/images/notification/Empty street-rafiki.svg" alt="Image" width="270" />
        <h2 class="text-center text-color-secondary font-light">
          Looks like there are no clients waiting to be assigned.
        </h2>
      </div>
    </ng-template>
    <ng-template #noDataAssigned>
      <div class="flex flex-column flex justify-content-center align-items-center h-10rem mx-3 py-5" *ngIf="!isLoading">
        <!-- <p-image src="../../../assets/images/empty/Empty-pana.svg" alt="Image" width="270" /> -->
        <h2 class="text-center text-color-secondary font-light">
          No clients assigned yet. Waiting for your first assignment!
        </h2>
      </div>
    </ng-template>

    <!-- <div class="card" *ngIf="isUnassignedClientsEmpty()" [ngStyle]="{ width: '80rem' }">
      <div class="text-center">No clients currently available</div>
    </div> -->
  </div>

  <div class="flex flex-row gap-5 align-items-center justify-content-center">

  </div>
</div>

<p-toast />
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
      <div class="inline-flex justify-content-center align-items-center h-15rem w-15rem">
        <img src="../../../assets/images/confirmation/Yes or no-amico.svg" alt="" />
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button title="Yes" pButton label="Yes" (click)="cd.accept()" class="w-8rem"></button>
        <button title="No" pButton label="No" (click)="cd.reject()" class="p-button-outlined w-8rem"></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>