<pre>
  {{ documentReqDtoFg.value | json }}
</pre>

<div class="card">
  <h1 class="text-center">Upload Required Payroll Documents</h1>
  <p-stepper orientation="vertical" [linear]="true">
    <p-stepperPanel
      *ngFor="let data of stepperDocuments.documentsRes; let i = index"
      [header]="data.activity"
    >
      <p-tag severity="success" value="Success" />

      <ng-template
        pTemplate="content"
        let-nextCallback="nextCallback"
        let-prevCallback="prevCallback"
        let-index="index"
      >
        <div class="flex flex-column">
          <div class="border-2 surface-ground surface-border border-round">
            <div class="grid">
              <div class="col-12">
                <p-fileUpload
                  mode="basic"
                  chooseLabel="Choose"
                  chooseIcon="pi pi-upload"
                  name="demo[]"
                  accept=".doc, .docx, .xls, .xlsx, .pdf"
                  maxFileSize="3000000"
                  (onSelect)="fileUpload($event, data.documentId, i)"
                  [auto]="true"
                  [disabled]="data.isSignedByPs"
                />
              </div>
              <div class="col-12 text-right">
                <p-button
                  label="Submit"
                  icon="pi pi-check"
                  (onClick)="submitDocument()"
                  [disabled]="!documentReqDtoFg.valid"
                />
              </div>
              <div class="col-12 text-right">
                <p-button
                  label="Preview Document"
                  icon="pi pi-eye"
                  [disabled]="!data.documentDirectory"
                />
              </div>
              <div class="col-12 text-right">
                <p-button
                  label="Ping Client"
                  icon="pi pi-bell"
                  severity="danger"
                  [disabled]="data.documentDirectory"
                />
              </div>
              <p-tag
                *ngIf="!data.isSignedByPs"
                severity="contrast"
                icon="pi pi-times"
                value="Not Approved"
              />
              <p-tag
                *ngIf="data.isSignedByPs"
                severity="success"
                icon="pi pi-check"
                value="Approved"
              />
            </div>
          </div>
        </div>
        <div class="flex py-4 gap-2">
          <p-button
            *ngIf="i != 0"
            label="Back"
            severity="secondary"
            (onClick)="prevCallback.emit()"
          />
          <p-button
            label="Next"
            [disabled]="!data.isSignedByPs"
            (onClick)="nextCallback.emit()"
          />
        </div>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>
